* {
    font-family: 'Poppins:ital,wght@1,200&display=swap', sans-serif;
    font-style: italic;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estiliza do layout da pagina */
html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    place-items: center;
    background-color: #282a40;
}

label {
    color: white;
}

form .campo input[type="password"],
input[type="text"] {
    background: rgb(43, 42, 54);
    color: white;
}


/* Estiliza do conteiner principal */
.wrapper {
    max-width: 390px;
    padding: 30px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 1);
    background: #000a18;
}

/* Estiliza do layout do titulo */
.wrapper .titulos {
    display: flex;
    width: 200%;
}

/* Estiliza do titulo */
.wrapper .titulo {
    width: 50%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: white;
}

/* Estiliza do formulario */
.wrapper .formulario {
    display: inline;
    width: 100%;
}

/* Estiliza dos campos de entrada */
.formulario form .campo {
    height: 40px;
    width: 100%;
    margin-top: 25px;

}

.formulario form .campo input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 12px;
    border-radius: 10px;
    border: 1px solid rgb(4, 87, 165);
    font-size: 18px;
}

/* Estiliza dos focus de campo e placeholder */
.formulario form .campo input:focus {
    border-color: rgb(20, 122, 156);
}

.formulario form .campo input:focus::placeholder {
    color: rgb(20, 122, 156);
}

/* Estiliza de layout dos links */
.formulario form .login-link {
    text-align: center;
    margin-top: 25px;
    color: white;
}

/* Retira e recoloca a underline no link durante o hover */
.formulario form .login-link a {
    text-decoration: none;
    color: #1a75ff;
}

.formulario form .login-link a:hover {
    text-decoration: underline;
}

/* Estiliza de layout do botao de registro */
form .btn {
    height: 50px;
    width: 100%;
    position: relative;
}

/* Estiliza o botao de registro */
form .btn .botao {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#002d5a,
            #004488, #0054a8,
            #0053cf);
    position: absolute;
    border-radius: 10px;
}

/* Estiliza o botão de envio input */
form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    padding-left: 0;
    margin-top: 10px;
    background: none;
    border: none;
    position: relative;
    color: white;
    cursor: pointer;
}